<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Вернуться на главную страницу</a>
  <div class="btn-group dropleft">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Перейти к другой письменной системе</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/hanzi.html/">Ханьцзы 🇨🇳</a>
    <a class="dropdown-item" href="/kana.html/">Кана 🇯🇵</a>
    <a class="dropdown-item" href="/alefbet.html/">Еврейское письмо 🇮🇱</a>
    <a class="dropdown-item" href="/devanagari.html/">Деванагари 🇮🇳</a>
    <a class="dropdown-item" href="/hangul.html/">Хангыль 🇰🇷</a>
  </div>
  </button>
</div>
</nav>
