<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Вернуться на главную страницу</a>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Перейти к другой письменной системе</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Ханьцзы 🇨🇳</a>
    <a class="dropdown-item" href="#">Кана 🇯🇵</a>
    <a class="dropdown-item" href="#">Еврейское письмо 🇮🇱</a>
    <a class="dropdown-item" href="#">Деванагари 🇮🇳</a>
    <a class="dropdown-item" href="#">Хангыль 🇰🇷</a>
  </div>
</div>
</nav>
