<!doctype html>
<html style="background: #f4d6f4">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ page.title }}</title>
  </head>
  {% include navigation.html %}
  <body style="background: #f4d6f4">
    <center><br>
      <div class="container" style="background: rgba(242, 255, 255, 0.5); width: 44%">
        <br>
        {{ content }}
        <br>
      </div>
    </center>
  </body>
</html>
