<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ page.title }}</title>
  </head>
  {% include navigation.html %}
  <body style="background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45))">
    <center>
      <div class="container" style="background: rgba(255, 255, 255, 0.5)">
        {{ content }}
      </div>
    </center>
  </body>
</html>
