<!doctype html>
<html style="background: linear-gradient(rgba(150, 0, 70, 0.24), rgba(250, 44, 160, 0.42))">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ page.title }}</title>
  </head>
  {% include navigation.html %}
  <body>
    <center>
      <div class="container" style="background: rgba(255, 255, 255, 0.5)">
        {{ content }}
      </div>
    </center>
  </body>
</html>
